footer {
    background-color: $color-darkbrown;
    padding: 15px 0;

    span {
        color: $color-text-primary;
    }

    .scroll i {
            font-size: 30px;
            line-height: 20px;
    }
}