main {
    background-color: $color-lightbrown;
}

.comment-box {
    display: flex;
    flex-wrap: wrap;
}

.comment-detail {
    padding: 5px;
    background-color: $color-brown;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    span {
        padding: 6px 0;
        &.body {
            quotes: "\2018" "\2019";
            flex: 1 0 auto;
        }
    }
}

.form-box {
    border: 1px solid $color-brown;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}